<footer class="footer pt-6 pb-5 bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="navbar-brand-dark mb-4" height="35" src="/static/image/logo.png"
                    alt="Logo light">
                <p>Herramienta que permite la creación del carnet para la Universidad Cujae.</p>
            </div>
            <div class="col-6 col-md-2 mb-5 mb-lg-0">
                <span class="h5">Carnet Cujae</span>
                <ul class="footer-links mt-2">
                    <li><a target="_blank" href="https://themesberg.com/blog">Blog</a></li>
                    <li><a target="_blank" href="https://themesberg.com/products">Products</a></li>
                    <li><a target="_blank" href="https://themesberg.com/about">Acerca de</a></li>
                    <li><a target="_blank" href="https://themesberg.com/contact">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-2 mb-5 mb-lg-0">
                <span class="h5">Otros</span>
                <ul class="footer-links mt-2">
                    <li><a href="https://correo.cujae.edu.cu/"
                            target="_blank">Correo cujae</a></li>
                    <li><a href="https://themesberg.com/docs/pixel-bootstrap/getting-started/changelog"
                            target="_blank">Intranet</a></li>
                </ul>
            </div>
        </div>
        <hr class="bg-secondary my-3 my-lg-5">
        <div class="row">
            <div class="col mb-md-0">
                <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                    <p class="fw-normal font-small mb-0">
                        &copy; Universidad Tecnologica de La Habana José Antonio Echeverría
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
