
    <header class="header-global">
        <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-dark">
            <div class="container position-relative">
                <a class="navbar-brand me-lg-5" href="/..">
                    <img class="navbar-brand-dark" src="/static/image/logo.png">
                </a>
                <div class="navbar-collapse collapse me-auto" id="navbar_global">
                    <!-- <div class="navbar-collapse-header">
                        <div class="row">
                            <div class="col-6 collapse-brand">
                                <a href="./index.html">
                                    <img src="/static/assets/img/brand/dark.svg" alt="Themesberg logo">
                                </a>
                            </div>
                            <div class="col-6 collapse-close">
                                <a href="#navbar_global" class="fas fa-times" data-bs-toggle="collapse" data-bs-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" title="close" aria-label="Toggle navigation"></a>
                            </div>
                        </div>
                    </div> -->
                    <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                        <li class="">
                            <a href="/.." class="nav-link dropdown-toggle" id="frontPagesDropdown" aria-expanded="false" data-bs-toggle="dropdown">
                                Inicio
                                <span class="fas fa-angle-down nav-link-arrow ms-1"></span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="componentsDropdown" aria-expanded="false" data-bs-toggle="dropdown">
                                Carnets
                                <span class="fas fa-angle-down nav-link-arrow ms-1"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg" aria-labelledby="componentsDropdown">
                                <div class="row g-0">
                                    <!-- <div class="col-lg-6 bg-dark d-none d-lg-block me-0 me-3">
                                        <div class="px-0 py-3 text-center">
                                            <img src="/static/assets/img/megamenu_image.png" alt="Pixel Components">
                                        </div>
                                    </div> -->
                                    <div class="col ps-0 py-3">
                                        <ul class="list-style-none">
                                            <li><a class="dropdown-item" href="/carnets/solicitados">Solicitados</a></li>
                                            <li><a class="dropdown-item" href="/carnets/hechos">Hechos</a></li>
                                            <li><a class="dropdown-item" href="/carnets/entregados">Entregados</a></li>
                                            <li><a class="dropdown-item" href="/carnets/eliminados">Eliminados</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="supportDropdown" aria-expanded="false">
                                Soporte
                                <span class="fas fa-angle-down nav-link-arrow ms-1"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg" aria-labelledby="supportDropdown">
                                <div class="col-auto px-0">
                                    <div class="list-group list-group-flush">
                                        <ul class="list-style-none">
                                            <li><a class="dropdown-item" href="/ui-accordions.html">Acerca de</a></li>
                                            <li><a class="dropdown-item" href="/ui-alerts.html">Contacto</a></li>
                                            <li><a class="dropdown-item" href="/admin">Administración</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="d-flex align-items-center">
                    <a href="/login/cerrarsesion" class="btn btn-outline-gray-100 d-none d-lg-inline me-md-3"><span class="fas fa-sign-out-alt me-2"></span>Cerrar Sesión</a>
                </div>
            </div>
        </nav>
    </header>
