psycopg2-binary
uvicorn
requests
barcode_generator
fastapi
psycopg2
pydantic
qrcode
starlette
python-barcode
uvicorn[standard]
python-jose
PyJWT
python-multipart



#database
sqlalchemy

#for loading environment variables
python-dotenv

#for  cleaning up codebase on each commit
pre-commit

#seedir to print tree structure of folders
seedir

#for template
jinja2

#for static files
aiofiles

#auth
httpx

#for testing
pytest

fastapi_login